<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hustle!</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
      <div class="navbar bg-gray-600">
        <div class="navbar-start">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
            </label>
            <ul tabindex="0" class="menu dropdown-content mt-3 p-2 shadow bg-cyan-900 rounded-box">
              <li><a href="/workout" class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><span>Exercises</span></a></li>
              <li><a href="/clients" class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><span>Clients</span></a></li>
              <li><a href="/appointments" class="hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><span>Appointments</span></a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-center">
          <img class="object-contain" src="/imgs/logo.jpg">
        </div>
        <div class="navbar-end">
          <div class="mx-5">
            <button class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50 font-bold">
              <div>
                <a href="/logout" >Logout</a>
              </div>
            </button>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>