<%- include('partials/header') -%>
<div class="flex flex-col w-full lg:flex-row">
  <div class="grid flex-grow h-920 card bg-base-300 rounded-box place-items-center">
          <div class="">
            <h2>Add A Client</h2>
            <form action="/client/createPostClient" enctype="multipart/form-data" method="POST">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Client Name</span>
                </label>
                <label class="input-group">
                  <span>Name</span>
                  <input type="text" placeholder="First and Last Name" class="input input-bordered" id="name" name="name"/>
                </label>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Address</span>
                </label>
                <label class="input-group">
                  <span>Address</span>
                  <input type="text" placeholder="Full Address" class="input input-bordered" id="address" name="address"/>
                </label>
              </div>
              <div class="">
                <label for="phone" class="form-label">Phone Number</label>
                <textarea class="form-control" id="phone" name="phone"></textarea>
              </div>
              <div class="">
                <label for="imgUpload" class="form-label">Photo</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Save</button>
            </form>
          </div>
  </div>
  <div class="divider lg:divider-horizontal"> </div> 
  <div class="grid h-920 flex-grow card bg-base-300 rounded-box place-items-center">
      <h2>Client List</h2>
      <div class="">
        <ul class="">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="">
            <a href="/client/<%= posts[i]._id%>">
              <img class="object-contain h-48 w-48" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>  
      </div>  
  </div>
</div>
<%- include('partials/footer') -%>
