<%- include('partials/header') -%>
<div class="">
  <form action="/client/createPostClient" enctype="multipart/form-data" method="POST">
    <div class="hero min-h-740 py-2">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Client Name</span>
            </label>
            <input type="text" placeholder="ex. The Rock" class="input input-bordered" id="name" name="name"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Client Address</span>
            </label>
            <input type="text" placeholder="ex. 12" class="input input-bordered" id="address" name="address"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Client Phone Number</span>
            </label>
            <input type="text" placeholder="ex. 407-222-1111" class="input input-bordered" id="phone" name="phone"/>
          </div>
          <div class="form-control">
            <label for="imgUpload" class="label">Photo</label>
            <input type="file" class="input input-bordered" id="imageUpload" name="file">
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50" value="Upload">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    </form>
  <div class="divider">Client List</div> 
  <div class="grid h-920 card bg-base-300 rounded-box">
      <div class="">
        <ul class="grid grid-cols-5 gap-4 place-items-start">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="">
            <a href="/client/<%= posts[i]._id%>">
              <img class="object-contain h-32 w-48" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>  
      </div>  
  </div>
</div>
<%- include('partials/footer') -%>
