<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hustle!</title>
        <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/imgs/favicon-32x32.png"
        />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/style.css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <div class="hero min-h-screen" style="background-image: url(/imgs/gym.png);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <div class="py-12">
                <img class="object-contain" src="/imgs/logo.jpg">
            </div>
            <h1 class="mb-6 text-5xl font-bold text-cyan-50 py-2">Hello there!</h1>
            <div class="btn-group">
                <button class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50">
                    <div>
                        <a href="/login" >Login</a>
                    </div>
                </button>
                <button class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50">
                    <div>
                        <a href="/signup" >Signup</a>
                    </div>
                </button>
            </div>
          </div>
        </div>
      </div>
</html>